{% extends "template.html" %}
{% block page_title %}Equipes{% endblock %}
{% block content %}
<div class="row">
  <div class="col">

    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Treinos</h4>
        <p class="category">
          <a href="{{url_for('edit_training', team_id=team.id)}}" class="btn btn-success">Novo treino</a>
        </p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-success">
            <th>ID</th>
            <th>Data</th>
            <th>Hora</th>
            <th class="text-right">Ações</th>
          </thead>
          <tbody>
            {% for training in trainings %}
              <tr>
                <td>{{ training.id }}</td>
                <td>{{ training.str_date }}</td>
                <td>{{ training.str_time }}</td>
                <td class="td-actions text-right">
                  <a href="{{url_for('edit_training', team_id=team.id, training_id=training.id)}}" rel="tooltip" class="btn btn-success btn-round">
                      <i class="material-icons">edit</i>
                  </a>
                  <a href="{{url_for('delete_training', training_id=training.id)}}" rel="tooltip" class="btn btn-danger btn-round">
                      <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
