{% extends "template.html" %}
{% block page_title %}Financeiro{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Novo lançamento</h4>
        <p class="card-category">Complete o cadastro</p>
      </div>
      <div class="card-body">
        <form action="{{url_for('save_financial',financial_id=financial.id)}}" method="POST" role="form" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Data</label>
                <input type="date" class="datepicker form-control" id="date" name="date" value="{{financial.str_date or ''}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Valor</label>
                <input type="number" min="0.00" max="10000.00" step="0.01" class="form-control" name="value" id="value" value="{{financial.str_value or ''}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Descrição</label>
                <input type="text" class="form-control" name="description" id="description" value="{{financial.description or ''}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating" for="type">Tipo</label>
                <select class="form-control selectpicker" data-style="btn btn-link" id="type" name="type">
                  <option value="saida">Saída</option>
                  <option value="entrada">Entrada</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating" for="type">Categoria</label>
                <select class="form-control selectpicker" data-style="btn btn-link" id="category" name="category">
                  <option value="evento">Evento</option>
                  <option value="parceria">Parceria</option>
                  <option value="patrocinio">Patrocínio</option>
                  <option value="fornecedor">Fornecedor</option>
                  <option value="assinatura">Assinatura</option>
                  <option value="outros">Outros</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success pull-right">Salvar</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}
